* {
    box-sizing:border-box;
}

header{
    display:flex;
    align-items:center;
    width:auto;
    gap:1rem;
    background-color:aliceblue;
}

h1{
    display:block;
    color:rgb(98, 42, 42);
    font-family:Arima Madurai;
    width:100%;
    text-align:center;
}

.subheading{
    position:fixed;
    display:block;
    font-family:Arima Madurai;
    color:rgb(98, 42, 42);
    top:40px;
    padding:10px;
    width:100%;
    text-align:center;
}

main{
    background-color:antiquewhite;
    display:flex;
    gap:2rem;
}

img{
    width:300px;
    height:350px;
    
}

section h2{
    background-color:rgb(236, 152, 197);
    color:white;
    font-family:Arima Madurai;
    text-align:center;
    margin:0;
}

#Capri{
    border:3px solid;
    border-color:white;
    font-family:Arima Madurai;
    color:rgb(98, 42, 42);
    flex:1;
}

#Barcelona{
    border:3px solid;
    border-color:white;
    font-family:Arima Madurai;
    color:rgb(98, 42, 42);
    flex:1;
}

#France{
    border:3px solid;
    border-color:white;
    font-family:Arima Madurai;
    color:rgb(98, 42, 42);
    flex:1;
}

footer{
    background-color:aliceblue;
    text-align: center;
    padding:15px;
}


